*~
*.aux
*.bak
*.cfg
*.config
*.csv
*.dot
*.hprof
*.iml
*.log
*.o
*.obj
*.orig
*.pyc
*.rej
*.swn
*.swo
*.swp
*.zip
.DS_Store
.checkstyle
.classpath
.externalToolBuilders
.factorypath
.idea
.metadata/
.project
.settings/
build/
clibraries/
svmbuild/
core.*
env
hs_err_pid*.log
llvm-*.src
workingsets.xml
bench-results.json
jmh_result.json
